<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/include/head :: config" />
	<link th:href="@{/css/accountStyle.css}" rel="stylesheet" />
</head>
<body>
	<header>
		<!-- navbar -->
		<th:block th:replace="/include/navbar :: navbar" />
	</header>
	<main>
	  <div class="container-fluid">
        <!-- Profile -->
        <div class="row">   
          <div class="col-md-2"></div>
          <div class="userProfile col-md-8">
            <div class="col-md-2"></div>
            <!-- Profile-img -->      
            <div class="col-md-2">            
              <img th:src="${targetUser.userImg}" class="rounded-circle" height="160" alt="Avatar" id="profileImg" />
            </div>
            <!-- Profile abstract -->
            <div class="col-md-7 container-fluid">
              <div class="col-md-12 userInfo">
                <div class="col-md-3" style="font-size: 30px;"><span th:text="${targetUser.userId}">타겟유저아이디</span></div>
                <div class="col-md-4" style="margin-top: 5px;"> 
                	<button th:if="${#lists.contains(userFollowingList, targetUser)}" type="button" th:id="'followBtn_' + ${targetUser.userEmail}" class="followBtnAcc btn btn-default">팔로잉</button>
                	<button th:unless="${#lists.contains(userFollowingList, targetUser)}" type="button" th:id="'followBtn_' + ${targetUser.userEmail}" class="followBtnAcc btn btn-primary">팔로우</button> 
               	 </div>                              
              </div>
              <div class="col-md-12 userInfo">
                <span class="userLog feedNum" th:text="|게시물 ${#lists.size(feedList)}|">게시물</span>              
                <button type="button" class="userLog followBtn" id="followBtn" th:text="|팔로우 ${#lists.size(followingList)}|">팔로우</button>              
                <button type="button" class="userLog followBtn" id="followerBtn" th:text="|팔로워 ${#lists.size(followerList)}|">팔로워</button>            
              </div>
              <div class="col-md-12 userInfo">
                <span class="profile" th:text="${targetUser.userName}"> 유저 이름 </span>
                <span class="desc" th:text="${targetUser.userDesc}"> 유저 설명 </span>
              </div>
            </div>
          </div> 
        </div>
        
        
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 text-center my-4 feedNavBar">
            <a href="#" class="myFeed text-dark"><i class="fas fa-th" id="icon"></i><span class="list">게시물</span></a>
            <a href="#" class="myFeed text-dark"><i class="fas fa-tv" id="icon"></i><span class="list">IGTV</span></a>
            <a href="#" class="myFeed text-dark"><i class="far fa-id-badge" id="icon"></i><span class="list">태그됨</span></a>
          </div>
        </div>
        
  	   <div class="row uploadedFeedRow" th:if="${#lists.size(feedList) > 0}">
       	 <div class="container-fluid">
       		<div class="col-md-3"> </div>
       		<div class="myFeedList col-md-7"> 			
       			<div class="col-md-3 myFeedImg" th:each="feedList: ${feedList}">
               		<img class="feedImg" th:src="@{${feedList.fileVO[0].fileName}}"/>      
           		</div> 
       	  	</div>
   	  	 </div>
   	   </div>
      </div>
        
      <!-- follow -->
      <div class="modal fade" id="followModal" tabindex="-1" role="dialog" aria-labelledby="followModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
          <div class="modal-content">
            <div class="modal-header container-fluid">
              <div class="modal-title col-md-11" id="followModal">팔로잉</div>
              <div class="modal-title-close col-md-1">
                <button type="button" class="close closeIcon" data-dimdiss="modal" aria-label="Close" id="closeIcon">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="container-fluid text-center modalbodyContainer">	
	              	<div class="container-fluid follower" th:each="followingList : ${followingList}">
	                 <!-- 유저 프로필 -->
	                 <div class="col-md-2"></div>
	                 <div class="col-md-2 text-center">
	                   <img th:src="@{${followingList.userImg}}" class="rounded-circle" height="50" alt="Avatar"/> 
	                 </div>                 
	                 <div class="col-md-3">
	                   <!-- 유저 아이디 -->
	                   <div class="col-md-12">
	                     <span th:text="${followingList.userId}"><strong>유저 아이디</strong></span>
	                   </div>
	                   <!-- 유저 이름-->
	                   <div class="col-md-9">
	                     <span th:text="${followingList.userName}">유저 이름</span>
	                   </div>
	                 </div>    
	                 <!-- 팔로우 버튼 -->
                       <div class="col-md-3">
                       		<button th:if="${#lists.contains(userFollowingList, followingList)}" type="button" th:id="'followBtn_' + ${followingList.userEmail}" class="followBtnAcc btn btn-default">팔로잉</button> 
                   	 		<button th:unless="${#lists.contains(userFollowingList, followingList)}" type="button" th:id="'followBtn_' + ${followingList.userEmail}" class="followBtnAcc btn btn-primary">팔로우</button>
                      </div>                                   
	             	</div>
                </div>
              </div>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary closeBtn" data-dimdiss="modal" id="closeBtn">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- follower -->
      <div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="followerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
          <div class="modal-content">
            <div class="modal-header container-fluid">
              <div class="modal-title col-md-11" id="followerModal">팔로워</div>
              <div class="modal-title-close col-md-1">
                <button type="button" class="close closeIcon" data-dimdiss="modal" aria-label="Close" id="closeIcon">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="container-fluid text-center modalbodyContainer"> 	
                    <div class="container-fluid follower" th:each="followerList: ${followerList}">
                       <!-- 유저 프로필 -->
                       <div class="col-md-2"></div>
                       <div class="col-md-2 text-center">
                         <img th:src="@{${followerList.userImg}}" class="rounded-circle" height="50" alt="Avatar"/> 
                       </div>                 
                       <div class="col-md-3">
                         <!-- 유저 아이디 -->
                         <div class="col-md-12">
                           <span th:text="${followerList.userId}"><strong>팔로워 아이디</strong></span>
                         </div>
                         <!-- 유저 이름-->
                         <div class="col-md-12">
                           <span th:text="${followerList.userName}">팔로워 이름</span>
                         </div>
                       </div>    
                       <!-- 팔로우 버튼 -->
                       <div class="col-md-3">
                        	<button th:if="${#lists.contains(userFollowingList, followerList)}" type="button" th:id="'followBtn_' + ${followerList.userEmail}" class="followBtnAcc btn btn-default">팔로잉</button> 
                   	 		<button th:unless="${#lists.contains(userFollowingList, followerList)}" type="button" th:id="'followBtn_' + ${followerList.userEmail}" class="followBtnAcc btn btn-primary">팔로우</button> 
                      	</div>                        
                   	 </div>
                </div>
              </div>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary closeBtn" data-dimdiss="modal" id="closeBtn">Close</button>
            </div>
          </div>
        </div>
      </div>
   </main>
   <script type="text/javascript" th:src="@{/js/userFeedJS.js}"> </script>    
      
   <script> 

		 $(".followBtnAcc").click(function(event){
    		var target = event.target;
    		var targetEmail = target.getAttribute("id").substr(10);
    		
    		$.ajax({
    			url: "/relation/follow",
    			data: {targetEmail: targetEmail},
    			type: "post",
    			success: function(result) {
    				if(result === 1) {
    					document.getElementById('followBtn_' + targetEmail).innerText = "팔로잉";
    					document.getElementById('followBtn_' + targetEmail).className = "followBtnAcc btn btn-default";
    				} else {
    					document.getElementById('followBtn_' + targetEmail).innerText = "팔로우";
    					document.getElementById('followBtn_' + targetEmail).className = "followBtnAcc btn btn-primary";
    				}
    				
    			}    			
    		});
    	});
	    
		
    </script> 
</body>
</html>