<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "com.soodagram.soodagram.mappers.reply.ReplyMapper">

	<resultMap id="ReplyResultMap" type="ReplyVO">
		<id property="replyNo" column="reply_no" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<result property="userEmail" column="user_email" />
		<result property="feedNo" column="feed_no" />
		<result property="userId" column="user_id" />		
	</resultMap>

	<!-- 댓글 등록 -->
	<insert id="writeReply" parameterType="hashMap">
		INSERT INTO tbl_reply (
			content,
			user_email,
			feed_no			
		) VALUES (
			#{content},
			#{userEmail},
			#{feedNo}
		)
	</insert>
	
	<select id="getReply" parameterType="hashMap" resultMap="ReplyResultMap">
		SELECT 
			r.reply_no,
			r.content,
			r.reg_date,
			r.update_date,			
			u.user_email,
			f.feed_no,
			u.user_id
		FROM
			tbl_reply as r
		INNER JOIN tbl_user as u
		ON r.user_email = u.user_email
		INNER JOIN tbl_feed as f
		ON r.feed_no = f.feed_no
		WHERE
			r.feed_no = #{feedNo}
		ORDER BY reply_no DESC, update_date DESC
		LIMIT #{curPage}, #{loadNum}		
	</select>

</mapper>