<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "com.soodagram.soodagram.mappers.feed.FeedFileMapper">
	
	<resultMap id="FileResultMap" type="FileVO">
		<id property="fileName" column="file_name" />
		<result property="feedNo" column="feed_no" />
		<result property="regDate" column="reg_date" />
	</resultMap>
	
	<insert id="uploadFile">
		INSERT INTO tbl_feed_img (
			file_name,
			feed_no		
		) VALUES (
			#{fileName},
			#{feedNo}
		)
		
	</insert>
	
	<select id="getFileList" resultMap="FileResultMap">
		SELECT 
			file_name,
			feed_no,
			reg_date
		FROM tbl_feed_img 
		WHERE 
			feed_no = #{feedNo}
	</select>
	
</mapper>