<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/include/head :: config" />
	<link th:href="@{/css/loginStyle.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<img th:src="@{/images/soodagram-font-logo.png}" class="instagram-logo">
					<div class="login-form">
						<form th:action="@{/login}" method="post" th:object="${userVO}">
							<div class="form-group">
								<input type="text" name="userEmail" class="form-control" placeholder="이메일">
							</div>
							<div class="form-group">
								<input type="password" name="userPw" class="form-control" placeholder="비밀번호">
							</div>
							<button type="submit" class="btn btn-primary btn-block">
								로그인
							</button>						
							<p class="or"> 또는 </p>				
							<button type="button" class="btn btn-link btn-block">
								<i class="fab fa-facebook-square"></i>
								<span class="fb-login">Facebook으로 로그인</span>
							</button>
							<a href="#" class="find-password">
								비밀번호를 잊으셨나요?
							</a>						
						</form>
						<p style="margin-top: 15px; color: red;" th:text="${#request.getAttribute('loginFailMsg')}">오류 메시지</p>							
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">					
					<span class="go-to-register">계정이 없으신가요?
					<a th:href="@{/regist}" class="register">가입하기</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>